<!DOCTYPE html>
<html xmlsn:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<!-- CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

</head>
<body style="background-color: lightblue">

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:50px">
		<div class="container-fluid">
			<a class="navbar-brand" href="http://localhost:8087/">SpringWeb</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/empleados}">Empleados</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/proyectos}">Proyectos</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/departamentos}">Departamentos</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm6 container justify-content-center card">
				<h1>Editar Empleado</h1>
				<div class="card-body">
					<form th:action="@{/empleados/editar/{id}(id=${empleadoKey.id}) }" method="POST" th:object="${empleadoKey}">
						<div class="form-group">
							<label>Nombre:</label> <input type="text" name="nombre"
								th:field="*{nombre}" class="form-control">
						</div>

						<div class="form-group">
							<label>Apellido:</label> <input type="text" name="apellido"
								th:field="*{apellido}" class="form-control">
						</div>

						<div class="form-group">
							<label>Email:</label> <input type="email" name="email"
								th:field="*{email}" class="form-control">
						</div>

						<div class="form-group">
							<label>Telefono:</label> <input type="number" name="telefono"
								th:field="*{telefono}" class="form-control">
						</div>
						<br>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</body>
</html>